@media (max-width:800px){
    .navegador{
        display:flex;
        justify-content:space-around;   
    }
    .navegador img{
        width:40%;
        height:auto;
    }
         
    .main-present{
        display:flex;
        flex-direction: column;
        align-self: center;
        justify-content:space-around;
    }
    .avatar{
        display:flex;
        align-items: center;
        justify-content:center;
    }
    
    .avatar img{
        width:40%;
        height:auto;
    
    }
    .avatar-text{
        display:flex;
        justify-content:center;
        align-items: center;
        margin-left: 10rem;
    }
    .avatar-text h1{
        font-family: 'Cabin Sketch', cursive;
        font-size: 5rem;
        color:#ab8742;  
    }
    .cubo img{
        width:40%;
        height:auto;
    }
   section{
        display:flex;
        flex-wrap: wrap;
    }
    article{
        display:flex;
        flex-direction:column;
        justify-content:space-around;
        align-items: center;
        margin:2rem;
    }
     article img{
        width:80%;
        padding-left: 3rem;
    }
   
    .main-techno-card-all{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    
}
@media(max-width:480px){
     .navegador{
       display:flex;
       flex-direction:column;
       align-content: center;
    }
    .nav-logo img{
        width:50%;
        height:auto;
        padding-left: 7rem;
    } 
    .main-present{
        display:flex;
        flex-direction: column;
    }   
    
    .avatar img{
        width:40%;
        height:auto;
    
    }
    .avatar-text{
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-content: center;
        margin-right: 0;
        margin-left:0;
     
    }
    .avatar-text h1{
        font-family: 'Cabin Sketch', cursive;
        font-size: 50px;       
        color:#ab8742;  
    }
    .cubo img{
        width:40%;
        height:auto;
    }
   section{
        display:flex;
        flex-wrap: wrap;
    }
    article{
        display:flex;
        flex-direction:column;
        justify-content:space-around;
        align-items: center;
        margin:2rem;
    }
    article h2{
        font-family: 'Cabin Sketch', cursive;
        font-size: 35px;
        color:#ab8742;
        text-align: center;
    
    }
    article img{
        width:80%;
        padding-left: 3rem;
    }
    article p {
        font-family: 'Cairo', sans-serif;
        font-size: 18px;
        text-align: justify;
    }
    
    .main-techno-card-all{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
   
}