*{
    background-color:#fff9f3;
    margin:0;
    padding:0
}
.navegador{
    display:flex;
    justify-content:space-between;   
}
.navegador img{
    width:20%;
}
.nav-menu ul{
    display:flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-menu a{
    display: block;
    color: #5d5340;
    text-align: center;
    padding: 30px 16px;
    font-family: 'Ubuntu', sans-serif;
    font-size:20px;
    text-decoration: none;
}
li a:hover {
    background-color: #8ca87c
}

.main-present{
    display:flex;
    flex-direction: row;
    align-self: center;
    justify-content:space-between;
}
.avatar{
    display:flex;
    align-items: center;
}

.avatar img{
    width:100%;
    height:auto;

}
.avatar-text{
    display:flex;
    justify-content:center;
    align-items: center;
    margin-left: 10rem;
}
.avatar-text h1{
    font-family: 'Cabin Sketch', cursive;
    font-size: 5rem;
    color:#ab8742;  
}
.cubo{
    display: flex;
    justify-content:center;
    align-items: center;
}
.cubo img{
    width:100%;
    height:auto;
}
main{
    display:flex;
    flex-direction:column;
}
.main-line hr{
    border-top: 10px solid;
    border-color: #5d5340;
    background-color: #5d5340;
    max-width: 100%;    
}
section{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-content:flex-start;
}
article{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items: center;
    margin:2rem;
}
article h2{
    font-family: 'Cabin Sketch', cursive;
    font-size: 35px;
    color:#ab8742;
    text-align: center;

}
article img{
    width:80%;
    padding-left: 3rem;
}
article p {
    font-family: 'Cairo', sans-serif;
    font-size: 18px;
    text-align: justify;
}

.main-techno-card-all{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.main-techno-card{
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    margin: 2rem;
}
.main-techno-title h3{
    text-align:center;
    font-size: 24px;
    font-family: 'Bebas Neue', cursive;
    
}
.main-techno-img{
    display:flex;
    justify-content:center;
    align-content: center;
}
.main-techno-img img{
    width: 70%;
    border-radius: 50%;
}
.main-tech-desc p{
    text-align: justify;
    font-size: 18px;
    font-family: 'Cairo', sans-serif;
}
.main-desafio{
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
}

legend{
    text-align: justify;
    font-size: 18px;
    font-family: 'Cairo', sans-serif;
}

.main-desafio h3{
    text-align: justify;
    font-size: 18px;
    font-family: 'Cairo', sans-serif;
}
input{
    text-align: justify;
    font-size: 18px;
    font-family: 'Cairo', sans-serif;
    margin : 30px;
    border-radius: 5%;
    background-color: azure
}
label{
    text-align: justify;
    font-size: 18px;
    font-family: 'Cairo', sans-serif;  
}
button{
    text-align: justify;
    font-size: 18px;
    font-family: 'Cairo', sans-serif; 
    background-color: #5d5340;
}

